@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:red">
        AWS Beanstalk Net Core 8 MySql Versión 2
    </h1>
    <img src="~/images/utilitario.png"
    style="width: 250px; height: 250px"/>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
